<!DOCTYPE html>
<html>
<head>
  <title>Pv-Roboter Steuerung</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="data:,">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="{{ url_for('static', filename='socket.io.min.js') }}"></script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
  <div class="topnav">
    <h1>Pv-Roboter Websteuerung</h1>
  </div>

  <div class="container">
    <!-- Linke Seite: Steuerung + Video -->
    <div class="left-panel">
      <div class="card control-card">
      <h2>Antrieb</h2>
      <div class="dpad">
        <button id="btn_forward" class="dpad-btn up">⬆️</button>
        <button id="btn_backward" class="dpad-btn down">⬇️</button>
        <button id="btn_turn_right" class="dpad-btn right">➡️</button>
        <button id="btn_turn_left" class="dpad-btn left">⬅️</button>
      </div>
      <p id="status">Status</p>
        <div class="slider-container">
          <input type="range" id="speedSlider" min="0" max="100" value="50">
          <div id="speedValueContainer">
            <span id="speedValue">50%</span>
            <label for="speedSlider">Geschwindigkeit</label>
        </div>
</div>
  </div>
      <div class="card video-card">
        <h3>Kamera</h3>
        <img src="{{ url_for('video_feed') }}" width="100%" height="auto">
      </div>
    </div>

    <!-- Rechte Seite: Aktoren + Switch + Temperatur -->
    <div class="right-panel">
      <div class="card">
        <h3>Walze</h3>
        <button onclick="controlWalze('on')">EIN</button>
        <button onclick="controlWalze('off')">AUS</button>
        <p id="brushstatus">Status</p>
      </div>

      <div class="card">
        <h3>Wasser</h3>
        <button onclick="controlWasser('on')">EIN</button>
        <button onclick="controlWasser('off')">AUS</button>
        <p id="valvestatus">Status</p>
      </div>

      <div class="card">
        <h3>Höhenverstellung</h3>
        <button id="btn_out" class="button">Runter</button>
        <button id="btn_in" class="button">Hoch</button>
        <p id="linstatus">Status</p>
      </div>
      
      <div class="card">
        <h3>Temperatur</h3>
        <p class="state"><span id="temp">-- °C</span></p>
      </div>
    </div>
    <div id="overlay" class="overlay"></div>

<div id="popup" class="popup">
  <h2>⚠️ Warnung</h2>
  <p>Temperatur über 30 °C!</p>
  <button onclick="closePopup()">OK</button>
</div>
  </div>
</body>
</html>
